:root {
    --colorPrimary:#f6dfeb;
}

*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
    color: rgb(160, 41, 160);
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7d9d9;
}

header {
    width: 100wh;
    height: 20vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}
h1 {
    text-align: center;
}

h1 {
    width: 70%;
    font-size:2.5rem;
    border: 1px solid #ff005c;
    margin: 1rem;
    background-color: var(--colorPrimary);
    padding: .5rem;
    box-shadow: 1px 1px 4px 1px #ff7171;
}

span {
    font-size: 1.6rem;
    color: #ff005c;
}
main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: var(--colorPrimary);
    padding-left: 50px;
}
img, picture, p{   
    width: 35rem;
    margin:1rem;
}
.container {
    display: flex;
    flex-direction:column;
}
aside {
    display: flex;
    flex-wrap: wrap;
}

p {
    font-size:1.6rem;
}

@media (max-width: 825px){
    header {
        height:40%;
    }
}